VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=le-patron-facile.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=le-patron-facile
VITE_FIREBASE_STORAGE_BUCKET=le-patron-facile.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1070706377366
VITE_FIREBASE_APP_ID=
